
/*----------------body/header*/

#body {
    background-color: black;
    color: #93CEBC;
    text-align: center;
}

.header {
    padding: 5;
}

/*----------------body/header/navbar*/

.menuitem {
    background-color: black;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.menuitem a {
    text-decoration: none;
}

.menuitem span {
    color: #93CEBC;
    text-transform: uppercase;
}

.menuitem a :hover {
    color: #D99543;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


#nav {
    margin: 0;
    background-color: black;

}

#nav li {
    padding: 10px;
    padding-top: 10px;
}

.logo {
    background: url("../images/wakeupcall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;  
    padding: 0;
    z-index: -2;
}

/*----------------footer*/

footer {
    text-align: center;
    background-color: black;
    padding-top: 30px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    background-color: #93CEBC;
    color: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #D99543;
}

.general-sub {
    color: #D99543;
}


/*----------------index/body/section*/

.section {
    background-color: black;
    color: #93CEBC;
    padding: 0;
}

.fan-message {
    padding-bottom: 20px;
}



.embed-responsive-item {
    max-height: 95%;
}

.performance-block {
    text-align: center;
    padding-bottom: 20px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.latest-song {
    padding-bottom: 20px;
}

.next-tour {
    padding-bottom: 20px;
}

.email-form {
    padding-top: 10px;
}

#emailaddress {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: #93CEBC;
    border: 0;
    padding-bottom: 5px;
}

button[type="submit"] {
    background-color: #D99543;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}


@media(min-width: 992px) {
    #emailaddress {
        max-width: 40%;
    }
}

/*----------------youtube-video*/

.embed-responsive-item {
    max-height: 95%;
}

.performance-block {
    text-align: center;

    max-width: 900px;
    margin: 0 auto;
    position: relative;
}


/*------------tour dates/body/section*/

.album-intro {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tour-date-title {
    margin-bottom: 20px;
}

.tour-date {
    color: #D99543;
    margin-top: 30px;
    font-size: x-large;
    font-weight: bold;
}

.tour-location {
    font-size: larger;
}
